{% extends "home/header.html" %}
{% block content %}
<div class="row bm-3" style="background: #3d5f96;">
        <div class="container">
            <h1 class="display-1 text-center text-light"> Announcements </h1>
        </div>
    </div>
<div class="container">

        <div class="col">
            <div class="container"></div>
                <div class="row">
                    <div class="container">
                        <h4 class="text-center text-dark mb-0 pb-0">  {{ post.title }}   <small class="text-muted"> Published {{ post.date }}</small> </h4> 
                        <p class="text-center lead mt-1"> {{ post.body }} </p>
                    </div>
                </div>
            </div>    
        </div>
    </div>
{% endblock %}