{% extends "home/header.html" %}

{% block content %}
<div class="row bm-3" style="background: #3d5f96;">
    <div class="container">
        <h1 class="display-1 text-center text-light"> Schedule of Services </h1>
    </div>
</div>
<div class="row">
	<div class="col"> 
		<h1 class="display-3 text-center">Annual Schedule</h1>
		<ul class="text-center list-unstyled">
			<h4>Sunday </h4>
			<li>7:00 AM – 9:00 AM | Arabic Liturgy</li>
			<li>9:30 AM – 12:00 PM | English Liturgy</li>
			<li>12:00 PM – 1:00 PM | College Meeting</li>
			<li>12:00 PM – 1:00 PM | Manna Meeting for Graduates</li>
			<h4>Monday </h4>
			<li>7:00 PM – 8:00 PM | Prayer Meeting</li>
			<h4>Tuesday </h4>
			<li>12:00 PM – 1:30 PM | Senior Citizens Meeting</li>
			<li>7:00 PM – 9:00 PM | Simultaneous Bible Study Meetings</li>
			<h4>Wednesday</h4>
			<li>7:00 AM – 9:30 AM | Divine Liturgy</li>
			<li>8:00 PM – 9:00 PM | English Bible Study</li>
			<h4>Thursday</h4>
			<li>7:30 PM – 9:30 PM | Arabic Youth Meeting</li>
			<h4>Friday</h4>
			<li>7:00 AM – 9:30 AM | Divine Liturgy</li>
			<li>7:00 PM – 9:00 PM | Ladies Meeting</li>
			<li>7:00 PM – 9:00 PM | Hymns Classes Meeting </li>
			<li>7:00 PM – 9:00 PM | High School Sunday School</li>
			<li>9:00 PM – 10:00 PM | Midnight Praise</li>
			<h4>Saturday</h4>
			<li>8:00 AM – 10:00 AM | Divine Liturgy</li>
			<li>6:30 PM – 8:30 PM | Vespers & Adult Bible Study</li>
			<li>7:00 PM – 9:00 PM | Elementary and Jr High Sunday School</li>
			<li>7:00 PM – 9:00 PM | High School Youth Meeting</li>
			<li>9:00 PM – 10:00 PM | Midnight Praise</li>
		</ul>
	</di
<div class="row">

    <div classs="col " style="float:none; margin: 0 auto;">
    	<h1 class="display-3 text-center" >Calendar</h1>
        <p class="text-center"><iframe src="https://calendar.google.com/calendar/embed?src=archangelmichaelcal%40gmail.com&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe></p>
    </div>
</div>

</div>

{% endblock %}