{% extends "home/header.html "%}
{% load static %}

{% block content %}
{% include "information/includes/information/header.html" %}
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<h2>Fr. Youhanna Ibrahim</h2>
				<img src={% static "img/information/youhanna.jpg" %}>
				<p><strong>Father Youhanna Ibrahim</strong> was born in Egypt on September 7, 1956. He earned a Medical Degree in 1979 from Ain Shams University. He practiced medicine and served churches in Luxor, Cairo, and Oman for twenty years. He came to United States in 1999 and served at Archangel Michael Church in Santa Ana. On June 30, 2002 His Grace Bishop Serapion ordained him presbyter to serve at Archangel Michael Church in Santa Ana.</p>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<h3>Contact</h3>
				<a href="#">placeholder</a>
			</div>
		</div>
	</div>
{% endblock %}