{% load static %}
<div class=" navbar navbar-light bg-light container-fluid" >
	<div class="row">
		<div class="col">
			<img src={% static "img/footer.png" %} class="ml-2" style="width: 270px; height: 77px ">
			<p class="ml-4 mt-4">Archangel Michael Church 2018 ©</p>
		</div>
		<div class="col">
			<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link pb-0" href="/information">Our Church</a>
				</li>
				<li class="nav-item ">
					<p class="nav-link pt-0 pb-0 mb-0 ml-2">Our Fathers</a>
				</li>
				<li class="nav-item">
					<a class="nav-link pt-0 pb-0 ml-4 mt-0" href="/information/fm">Fr. Felimon Mikhail</a>
				</li>
				<li class="nav-item">
					<a class="nav-link pt-0 pb-0 ml-4" href="/information/yi">Fr. Youhanna Ibrahim</a>
				</li>
				<li class="nav-item">
					<a class="nav-link pt-0 pb-0 ml-4" href="/information/mh">Fr. Mark Hanna</a>
				</li>

			</ul>
		</div>
		<div class="col ">
			<div class="container ">
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link pb-0">Information </a>
					</li>
					<li class="nav-item">
						<a class="nav-link pt-0 pb-0 ml-4 mt-0" href="/announcements">Announcements</a>
					</li>
					<li class="nav-item">
						<a class="nav-link pt-0 pb-0 ml-4" href="/information/schedule">Schedule</a>
					</li>
					<li class="nav-item">
						<a class="nav-link pt-0 pb-0 ml-4" href="/information/directions">Directions</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>